body {
    font-size: 15pt;
    padding: 0;
    margin: 0;
}
#body{
    width: 100%;
    height: 100%;
}
#bg-rand{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 87% 0;
}